* {
  box-sizing: border-box;
}

.container {
  background-color: rgb(185 185 166);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  height: 50%;
  width: 47%;
  padding: 12px;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(149 144 139);
  flex: 1;
  border-radius: inherit;
}

.result {
  font-size: 30px;
  padding: 7px;
  text-align: end;
  align-self: stretch;
  justify-content: flex-end;
  border: none;
  color: white;
}

.btns-group {
  background-color: rgb(236, 232, 228);
  flex: 5;
  display: table;
  text-align: center;
}

.btns-row {
  display: table-row;
}

td {
  border: 1px solid rgb(219 212 212);
  border-collapse: collapse;
}

.orange {
  background-color: rgb(238, 154, 89) !important;
  width: 28%;
}

